/* * Libre Franklin */
@font-face {
  font-family: Libre_Franklin;
  src: url("../../public/fonts/LibreFranklin/LibreFranklin-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Libre_Franklin;
  src: url("../../public/fonts/LibreFranklin/LibreFranklin-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Libre_Franklin;
  src: url("../../public/fonts/LibreFranklin/LibreFranklin-Bold.ttf");
  font-weight: 700;
}
